*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0px 120px;
}
#logo {
    width: 200px;
}
#navIteams > ul{
    display: flex;
    gap: 90px;
    font-size: large;
    list-style-type: none;
}

#restaurant-container{
    width: 90vw;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    /* height: 300px; */
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
#filter-btn{
    margin: 5px 70px;
    padding: 5px 20px;
    cursor: pointer;
}
.shimmer-container{
    width: 90vw;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.login-btn{
    padding: 0px 20px;
    cursor: pointer;
}

#filter{
    display: flex;
    margin-left: 70px;
}
.user-card{
    border: 1px solid black;
}